*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{ 
    font-family: 'Dosis';
}
.bg-landing{
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.849)), url("https://raw.githubusercontent.com/JeremiahNgige/Dolce/gh-pages/imgs/pizza.jpg")  no-repeat center center ;
    background-size: cover;
}
.bg-white{
    background: white;
}
.bg-yellow{
    background: rgb(253, 193, 13);
}
.bg-green{
    background:#218838; 
}
.bg-transparent{
    background: transparent;
}
.bg-black{
    background: rgba(0, 0, 0, 0.966);
}
.logo-font{
    font-family: 'Shadows Into Light';
    text-transform:uppercase ;
    font-weight: 800;
    letter-spacing: 2.5px;
}
.outer{
    min-width: 100%;
    height: 100%;
    background-color:transparent;
    display: grid;
    place-items: center;
}
.inner{
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    margin: 10px;
}
.outer1{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;  
}
.inner1{
    flex: 1 1 500px;
    margin: 5px;
    background:transparent;
    height: 100%;
    color: black;
    width: 100%;
}
.outer2{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;  
}
.inner2{
    flex: 1 1 30px;
    margin: 5px;
    background:transparent;
    height: 100%;
    color: black;
    width: auto;
}
.pizza-landing{
    background-size: cover;
    height: 200px;
}
.landing-txt{
    color: white;
}
.landing-hd{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2.5px;
}
.landing-p{
    font-weight: lighter;
    font-size: 24px;
    color: whitesmoke;
}
.testimoner{
    font-style: italic;
    color: whitesmoke;
    margin-left: 0px;
    font-size: 23px;
}
.testimoner-img{
    border-radius: 50%;
    display: none;
    width: auto;
    height: 35vh;
    padding: auto;
    background: url("https://raw.githubusercontent.com/JeremiahNgige/portfolio3/gh-pages/images/mepic.png") no-repeat bottom center ;
}
.mar-top{
    margin-top: 70px;
}
.mar-top1{
    margin-top: 10px;
}
.mar-top2{
    margin-top: 40px;
}
.mar-left{
    margin-left: 20px;
}
.pad-1{
    width: 100%;
    height: 150px;
}
.pad-auto{
    width: 100%;
    height: auto;
}
.border-trans{
    border: transparent;
}
.welcome-sec{
    width: auto;
    height: auto;
    background: lavender;
}
.welcome-p{
    color: black;
    margin-top: 20px;
}
.welcome-hd{
    font-weight: 600;
    font-size: 29px;
    letter-spacing: 2.5px;
    color: black;
}
.chef-img1{
    background: linear-gradient(rgba(19, 61, 13, 0.295),rgba(19, 61, 13, 0.274)) , url("https://raw.githubusercontent.com/JeremiahNgige/Dolce/gh-pages/imgs/pizza10.jpg") center center;
    width: 100%;
    height: 250px;
    background-size: cover;
}
.chef-img2{
    background:linear-gradient(rgba(253, 193, 13, 0.055),rgba(253, 193, 13, 0.075)), url("https://raw.githubusercontent.com/JeremiahNgige/Dolce/gh-pages/imgs/pizza9.jpg") center center;
    width: 100%;
    height: 250px;
    background-size: cover;
}
.piz-img{
    background:linear-gradient(rgba(253, 193, 13, 0.055),rgba(253, 193, 13, 0.075)), url(/imgs/pizza.jpg) center center;
    width: 100%;
    height: 100px;
    background-size: cover;
}
.crust-img{
    background:linear-gradient(rgba(253, 193, 13, 0.055),rgba(253, 193, 13, 0.075)), url(/imgs/crust.jpg) center center;
    width: 100%;
    height: 100px;
    background-size: cover;
}
.toppins-img{
    background:linear-gradient(rgba(253, 193, 13, 0.055),rgba(253, 193, 13, 0.075)), url(/imgs/toppings.jpg) center center;
    width: 100%;
    height: 100px;
    background-size: cover;
}
.small-txt{
    font-size: 25px;
    font-family: 'Satisfy';
    font-weight: 300;
}
.large-txt{
    font-size: 33px;
    font-weight: 600;
}
.list-hd{
    font-size: 30px;
    font-weight: 600;
}
.list-txt{
    font-size: 25px;
    font-family: 'Satisfy';
    font-weight: 400;
    letter-spacing: 2.5px;
}
.txt-white{
    color: white;
}
.txt-green{
    color :#218838;
}
.slant{
    font-weight: 600;
    font-style: italic;
}
.services{
    width: auto;
    height: auto;
    background: linear-gradient(rgba(253, 193, 13, 0.055),rgba(253, 193, 13, 0.075)), url(/imgs/pizza13.jpg);
}
.btn-cont-holder{
    width: auto;
    height: auto;
    background: transparent;
}
#crust-list{
    display: none;
}
#toppins-list{
    display: none;
}
.footer{
    width: 100%;
    height: auto;
    background: #081b0cee;
}